* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.nav-bar {
  padding: 20px;
  background-color: #3367d6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
}
.nav-logo {
  width: 150px;
}
@media (max-width: 767px) {
  .nav-logo {
    width: 80px;
    margin-right: 10px;
  }
}
.search-box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.search-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #2850a7;
  border-radius: 4px;
  border: 1px solid #f8fafc;
  padding-right: 5px;
  padding-right: 5px;
}
.search-input-box {
  height: 30px;
  width: 400px;
  background-color: #2850a7;
  border: none;
  padding: 5px;
  outline: none;
  font-family: Roboto;
  color: #ffffff;
}
@media (max-width: 767px) {
  .search-input-box {
    width: 200px;
  }
}
.image-box {
  border-right: 1px solid #f8fafc;
  height: 100%;
}
.search-icon {
  padding-left: 10px;
  padding-right: 10px;
}
.bg-container {
  height: 90vh;
  background-color: #ececec;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
@media (max-width: 767px) {
  .bg-container {
    min-height: 90vh;
    height: 100%;
  }
}
.history-content-container {
  border-radius: 10px;
  width: 100%;
  height: auto;

  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .history-content-container {
    height: auto;
  }
}
.show-history-list-container {
  list-style-type: none;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px #64748b;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
}
.search-item {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .search-item {
    padding: 0px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
}
.app-names-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding: 0px;

  box-sizing: border-box;
}
@media (max-width: 767px) {
  .app-names-container {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
}
.app-details-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  width: 90%;
}
@media (max-width: 767px) {
  .app-details-container {
    align-items: flex-start;
    margin: 0px;
    width: 100%;
  }
}
.button-and-site-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
@media (max-width: 767px) {
  .button-and-site-name-container {
    align-items: flex-start;
  }
}
.app-logo {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
@media (max-width: 767px) {
  .app-logo {
    margin: 0px;
    width: 25px;
    height: 25px;
  }
}
.time-display {
  font-family: Roboto;
  font-size: 12px;
  color: #475569;
}
.app-name {
  font-family: Roboto;
  font-size: 15px;
  color: #475569;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .app-name {
    font-size: 13px;
    margin: 0px;
  }
}
.app-domain-name {
  font-family: Roboto;
  font-size: 15px;
  color: #64748b;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .app-domain-name {
    font-size: 13px;
    margin: 0px;
  }
}
.delete-button {
  background-color: transparent;
  border: none;
}
.empty-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.empty-heading {
  font-family: Roboto;
  color: #475569;
  font-size: 25px;
  font-weight: 300;
}
